p {
    font-size: 14pt;
    font-family: Verdana;
    font-weight: bold;
    color: #293f62;;
    text-align: center;
    line-height: 150%;
}

.error-user {
    font-size: 12pt;
    font-family: Verdana;
    font-weight: bold;
    color: #F96846;;
    text-align: center;
    line-height: 150%;
}

.field_av {
    margin: 5px 5px 5px 5px;
}

/*.all-div {*/
/*    font-size: 16px;*/
/*    color: #293f62;*/
/*    text-align: left;*/
/*    margin-left: 60px;*/
/*    margin-top: 15px;*/
/*    margin-bottom: 20px;*/
/*}*/

.left-profile {
    font-size: 12pt;
    font-family: Verdana;
    color: #3DDB96;
    line-height: 50%;
    margin-bottom: 40px;
}

.col1-input-field {
    margin-bottom: 20px;
    margin-top: 10px;
}

.left-profile-text {
    margin-bottom: 20px;
    font-weight: bold;
}

.text-input-field {
    font-weight: bold;
}
